# name: Deploy worflow for HCX applications.

# on:
#   push:
#     branches:
#       - main
#       - sprint-*
#       - workflow
# jobs:
#   deploy:
#     runs-on: ubuntu-latest
#     env:
#       AWS_REGION: ap-south-1
#       CLUSTER_NAME: dev-cluster
#     steps:
#       - uses: actions/checkout@v2

#       - name: AWS Credentials
#         uses: aws-actions/configure-aws-credentials@v1
#         with:
#           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws-region: ${{ env.AWS_REGION }}
#           aws-profile: git-deploy
#           #role-to-assume: arn:aws:iam::131795456882:role/OrganizationAccountAccessRole
#           # #role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/OrganizationAccountAccessRole
#           # role-session-name: ci-run-${{ github.run_id }}
          
      
#       # - name: kubeconfig
#       #   run: |
#       #     aws eks update-kubeconfig --name ${{ env.CLUSTER_NAME }} --region ${{ env.AWS_REGION }}
#       #     echo "KUBE_CONFIG_DATA=$(cat ~/.kube/config | base64)" >> $GITHUB_ENV

#       # - name: echo_kubeconfig
#       #   run: |
#       #     echo ${{ secrets.KUBE_CONFIG_DATA }}

#       # - name: checkout private
#       #   uses: webfactory/ssh-agent@v0.6.0
#       #   with:
#       #       ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

#       # - name: checkout private
#       #   uses: actions/checkout@v2
#       #   with:
#       #       repository: https://github.com/Swasth-Digital-Health-Foundation/DevOps
#       #       ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

#       - name: helm deploy
#         uses: vimeda/helm@v1.6.8
#         env:
#           KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
#         with:
#           #plugins: "https://github.com/jkroepke/helm-secrets" # optional
#           #command: helm secrets upgrade <release name> --install --wait <chart> -f <path to values.yaml>
#           command: helm upgrade --install api-gateway   --wait ../../application/helm/core/api-gateway/ -f ${{ env.PRIVATE_REPO }}/hcx/ansible/inventory/dev/values.yaml --namespace dev


# ---
# #deploybot action

name: Deploy
on:
  push:
    branches:
      - main
      - sprint-*
      - workflow
jobs:
  deployment:
    runs-on: 'ubuntu-latest'
    steps:
    - uses: actions/checkout@v2

    - name: AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1
        # aws-profile: hcx
        # role-to-assume: arn:aws:iam::131795456882:role/OrganizationAccountAccessRole
    # - uses: actions/checkout@v1

    # - name: Checkout Private Repo
    #   run: |
    #     eval `ssh-agent -s`
    #     ssh-add - <<< '${{ secrets.PRIVATE_SSH_KEY }}'
    # - uses: actions/checkout@v1  
    #   with:
    #     repository: organization_name/repo_name
    #     token: ${{ secrets.ACCESS_TOKEN }}


    # - uses: shaunco/ssh-agent@git-repo-mapping # this action will configure git to use the right SSH key per each repository. 
    #   with:
    #     ssh-private-key: |
    #       ${{ secrets.SSH_PRIVATE_KEY }}
    #     repo-mappings: |
    #       github.com/Swasth-Digital-Health-Foundation/DevOps


    # - uses: actions/checkout@v2
    #   with:
    #     submodules: recursive

    # - name: Check file structure
    #   run: ls -lrt ${{ github.workspace }}







    - name: Checkout private 
      uses: actions/checkout@v3
      with:
        # repository: Swasth-Digital-Health-Foundation/DevOps
        repository: Swasth-Digital-Health-Foundation/DevOps
        ref: 'workflow'
        ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}
        submodules: recursive
        path: DevOps


    - name: Cat private repo file
      run: cat ${{ github.workspace }}/DevOps/hcx/ansible/inventory/dev/group_vars/dev.yaml
      


    - name: 'Deploy'
      uses: bitovi/github-actions-deploy-eks-helm@v1.1.0
      # uses: vimeda/helm@v1.6.8
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS__KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        # cluster-role-arn: arn:aws:iam::131795456882:user/hcx
        aws-region: ap-south-1
        # aws-profile: git-deploy
        cluster-name: dev-cluster
        name: 'api-gateway'
        namespace: 'dev'
        # release: api-gateway
        chart-path: 'application/helm/core/api-gateway/'
        config-files: 'application/helm/core/api-gateway/values.yaml, DevOps/hcx/ansible/inventory/dev/group_vars/dev.yaml' #, https://github.com/Swasth-Digital-Health-Foundation/DevOps/blob/workflow/hcx/ansible/inventory/dev/group_vars/dev.yaml'
       # token: '${{ github.token }}'
        # values: |
        # name: foobar
#        helm: helm3
      env:
        KUBECONFIG_FILE: '${{ secrets.KUBECONFIG }}'

###



    # - name: Run playbook
    #   uses: dawidd6/action-ansible-playbook@v2.6.1
    #   with:
    #     # Required, playbook filepath
    #     playbook: '${{ github.workspace }}/application/ansible/helm.yaml'
    #     # Optional, directory where playbooks live
    #     directory: 'application/ansible/roles/helm_deploy/templates/'
    #     # Optional, SSH private key
    #     key: ${{secrets.SSH_PRIVATE_KEY}}
    #     # Optional, literal inventory file contents
    #     inventory: 'DevOps/hcx/ansible/inventory/dev/'
    #     # Optional, SSH known hosts file content
    #     known_hosts: 'DevOps/hcx/ansible/inventory/dev/hosts'
    #     vault_password: ${{secrets.VAULT_PASSWORD}}
    #     # Optional, galaxy requirements filepath
    #     #requirements: galaxy-requirements.yml
    #     # Optional, additional flags to pass to ansible-playbook
    #     options: |
    #       --inventory .hosts
    #       --limit group1
    #       --verbose

